body	{
	background-color: white;
}
h1	{
	color: blue
}
#p01 {
	color: black
}
.squareDigit {
	text-align: center;
	background-color: #98fb98;
	border: solid;
	border-radius: 15px;
	width: 50px;
	height: 50px;
}
.squareSymbol {
	text-align: center;
	background-color: #ffaa80;
	border: solid;
	border-radius: 15px;
	width: 50px;
	height: 50px;
}
.rectangle {
	border: solid;
	background-color: #98fb98;
	width: 250px;
	height: 50px;
}
.squareDigit:hover, .squareSymbol:hover {
	background-color: #ffd11a;
}